*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{

    padding-top: 5px;
    display: flex;
    background-color: black;
    align-items: center;
    height: 80px;
    color: white;

}

#header_left_side{
    display: flex;
    /* padding-left: 100%; */
}

.burger_menu{
    display: flex;
    justify-items: end;
}

.burger_menu_links{
    display: none;
    color: white;
    font-size: 40px;
    text-decoration: none;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
}
.burger_menu_links a{
    color: white;
    text-decoration: none;
}

.burger_menu_links.showLinks{
    /* display: none; */
    display: flex;
    background-color: rgb(0, 0, 0);
    position: fixed;
    bottom: 100%;
    transition: all 1s ease-in-out;
    top: 0;
    height: 100%;
    width: 100%;
    flex-direction: column;
    padding: 30px;

}
.burger_menu_links.showLinks{
    bottom: 0;
}

body main h1 {
    display: flex;
    size: 100px;

}

.main-but{
    display: flex;
    justify-content: space-around;
}

body main{
    font-weight: bold;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.text_in_main_page{
    color: white;
}

#bg{
    background: url('{% static "japtuneapp/img/bg.jpg" %}') center, center/over, no-repeat;
    background-size: cover;
    background-repeat: no-repeat;

}

.button{
    border-radius: 20px;
    width: 300px;
    height: 80px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    font-size: 20px;
    transition: all 0.3s ease;

}


.button:hover {
    transition: all 0.1s ease-in;
    border: 1px solid rgb(2, 102, 220);
    font-weight: 500;
}

.button:active {
    transition: all 0.1s;
    transform: scale(0.9);
}

.burger_menu {
    transition: max-height 0.3s ease-out;
}


main div {
    margin: 20px;
}
/* .burgir{
width: 1500px;
display: flex;
justify-content: end;
} */
#JapTuneCo{
    display: flex;
    font-size: 40px;
    align-items: center;
}
#header_left_side{
    width: 90%;
}

footer{
    background-color: black;
    display: flex;
    justify-content: space-between;
}
#footer_1{
    display: grid;
    width: 35%
}

#footer_2{
    display: grid;
    width: 30%;
}

.logofooter{
    height:50px;
    width: 50px;
}

/* .logofooterclass{
    /* width:20%; */

.logoandtext{
    height: 50%;
    width: 15%;
}

#yt {
    height: 30%;
    width: 12%;
    border: 0.1em solid white;
    border-radius: 10px;
}

#fb {
    height: 35px;
    width: 42px;

}

footer div a {
    text-decoration: none;
    color: white;
    font-size: larger;
    font-weight: 600;

}

footer div a:hover {
    color: rgb(2, 102, 220);
    transition: all 0.3s ease;
}

footer #footer_1 {
    width: 100px;
}

body header .burger_menu_links .container #rows .col-3 a:hover {
    color: rgb(2, 102, 220);
    transition: all 0.3s ease;
}
